@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.dark {
  background-color: #0f0f0f !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.disabledlink {
  pointer-events: none;
}

.navbar {
  position: relative;
}

.navbar .toggle {
  left: 10px;
  top: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.menu-nav {
  list-style: none;
  position: absolute;
  background: #000;
  left: 0;
  width: 0;
  overflow: hidden;
  z-index: 9;
  font-size: 18px;
  transform: translateX(-100px);
  transition: transform ease-in-out 0.2s;
  transition: width ease 0.2s;
}

.menu-nav.show-menu {
  width: 100vw;
  transform: translateX(0px);
}

.menu-nav li a,
.menu-nav li span {
  display: block;
  padding: 1rem;
}
